.outer-container-footer .nav > li > a,
#footer .nav > li > a {
  float: none;
  padding: 12px;
  line-height: 19px;
  color: $gray-light;
  text-decoration: none;
  text-shadow: none;
  background-color: transparent;
  font-size: 11px;
  text-transform: uppercase;
  &:hover {
     color: $gray-darker;
  };
}

/* COPYRIGHT
-------------------------------------------------- */
#copyright {
  background-color: $gray-dark;
  color: $gray-light;
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed; 
  p {
     color: #989898;
     font-size: 11px;
     margin-bottom: 0;
  }
  .nav {
    > li {
      float: left;
      margin-right: 15px;
    }
    > li > a {
      color: #989898;
      font-size: 11px;
      padding: 0;
      &:hover {
        color: $brand-primary;
        background-color: transparent;
      }
    }
  }
}


.copyright-author {
 	background: transparent image-url('gko/logo_gecko_white.png') center left no-repeat;
 	padding-left: 28px;
  color: #fff;
  &:hover {
    color: #fff;
  }
}