
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#home-carousel {
  margin-top: -$navbar-margin-bottom; 
  margin-bottom: 0;

  .item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    
    @media (min-width: $screen-sm) {
      height: 400px;
    }
  
    @media (min-width: $screen-md) {
      height: 500px;
    }
  
    @media (min-width: $screen-lg-min) {
      height: 600px;
    }
  }

  .carousel-indicators {
    display: none;
    
    @media (min-width: $grid-float-breakpoint) {
      display: block;
    }
    
  }
  .carousel-caption {
    z-index: 10;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    bottom: 10px;
    p {
      line-height: 28px;
    }
    hr {
      margin-left: auto;
      margin-right: auto;
      max-width: 100px;
      border-top: 1px solid $theme-color;
      border-bottom: none;
    }
    @media (min-width: $grid-float-breakpoint) {
      bottom: 80px;
    }
  }
  
}

.icon-128 {
  width: 56px;
  height: 56px;
  padding:36px;
  font-size: 54px;
  line-height: 60px;
}
.section-brands { 
  .thumbnail {
    height: $line-height-computed * 6;
    text-align: center; 
    margin-bottom: $line-height-computed * 2;
    border: none;
    img {
      max-height: 100px;
      vertical-align: middle;
      @include opacity(.4);
      @include center-block();
    }
  }
}
