<div class="container"> 
  <div class="row">
    <div class="col-xs-12">
      <div class="thumbnails" id="product-list-wrapper">
        <div class="row js-lazyload">
          <%= render collection %>
        </div>
      </div>
    </div>
  </div>
</div>


